.search {
  position: relative;
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.search button {
  height: 39px;
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
}

.search button:focus {
  z-index: 5;
  position: relative;
  border-radius: 4px;
}

.search input:focus {
  z-index: 5;
  position: relative;
  border-radius: 4px !important;
}

.search input {
  border-radius: 4px 0 0 4px !important;
}

.icon {
  position: absolute;
  left: 8px;
  top: 6px;
  z-index: 6;
}
