body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0;
  --dark: #1e2b3c;
  --yellow: #ffda06;
  --link: var(--fds-semantic-text-action-default);
}

* {
  box-sizing: border-box;
}

.Only-focus-visible .Button-module_button__2ZuB7:focus {
  outline: none;
  box-shadow: none;
}

.Only-focus-visible .Button-module_button__2ZuB7:focus-visible {
  outline: 3px solid var(--yellow);
  box-shadow: 0 0 0 3px var(--dark);
}

.Focus-descrete .Button-module_button__2ZuB7:focus {
  outline: 3px solid var(--yellow);
  box-shadow: 0 0 0 3px var(--dark);
}

.Focus-heavy .Button-module_button__2ZuB7:focus,
.Focus-heavy .Button-module_button__2ZuB7:focus:hover,
.Focus-heavy .Button-module_button__2ZuB7:focus-visible {
  background-color: var(--yellow) !important;
  color: var(--dark) !important;
  outline: none;
}

.Focus-descrete .Link-module_link__Ly-e3:focus {
  background-color: transparent;
  outline: 3px solid var(--dark);
  box-shadow: 0 0 0 6px var(--yellow);
  border-radius: 2px;
}

.Only-focus-visible .Link-module_link__Ly-e3:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  text-decoration: underline;
  color: var(--link);
}

.Only-focus-visible .Link-module_link__Ly-e3:focus-visible {
  background-color: transparent;
  background-color: var(--yellow);
}

.Textfield-module_input__N-6KN {
  padding-left: 35px !important;
}

.LoginForm_form__IwkZI .Textfield-module_input__N-6KN {
  padding-left: 12px !important;
}

.Focus-descrete
  .Checkbox-module_input__e-uB1:focus
  ~ .Checkbox-module_icon__LIu3A {
  outline: 3px solid var(--yellow);
}

.Checkbox-module_control__SHW9r:hover {
  background-color: transparent !important;
}

.Focus-heavy
  .Checkbox-module_input__e-uB1:focus:not(:disabled)
  ~ .Checkbox-module_icon__LIu3A
  .Checkbox-module_box__b50H3 {
  stroke: var(--dark);
  fill: var(--yellow);
}

.Focus-heavy
  .Checkbox-module_input__e-uB1:checked:focus
  ~ .Checkbox-module_icon__LIu3A
  .Checkbox-module_checked__Xj9xD {
  stroke: var(--dark);
  fill: var(--dark);
}

.Focus-descrete
  .Switch-module_input__cLrzj:focus:not(:disabled)
  ~ .Switch-module_icon__3JYf5 {
  outline: 3px solid var(--yellow);
  outline-offset: 0;
}

.Focus-heavy
  .Switch-module_input__cLrzj:focus:not([readonly], :disabled)
  ~ .Switch-module_icon__3JYf5
  > .Switch-module_track__yUoQl {
  color: var(--yellow);
}

.Focus-heavy
  .Switch-module_input__cLrzj:focus:not([readonly], :disabled)
  ~ .Switch-module_icon__3JYf5 {
  outline: 3px solid var(--dark);
}

.Focus-heavy
  .Switch-module_input__cLrzj:focus-visible:not([readonly], :disabled)
  ~ .Switch-module_icon__3JYf5 {
  outline: none;
}
