body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #1e2b3c;
  --dark: #1e2b3c;
  --yellow: #ffda06;
  --link: var(--fds-semantic-text-action-default);
}

* {
  box-sizing: border-box;
}

.sidebar-links {
  display: inline-flex;
  flex-direction: column;
}

.sidebar-links a {
  margin-top: 24px;
  color: inherit;
}

.sidebar-links a:visited {
  color: var(--link);
}

.content {
  max-width: 750px;
}

.content .Accordion-module_accordion__LVhhv {
  margin-bottom: 24px;
}

.content h2 {
  margin-top: 40px;
}
