.cards {
  display: grid;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 48px;
}

.page {
}

.sidebar-links {
  display: flex;
}

.sidebar-links a {
  margin-top: 24px;
}
