.bg {
  position: absolute;
  top: 51px;
  right: 0;
  left: 0;
  height: 600px;
  background-image: url("../../../public/shapes.png");
  background-size: contain;
}

.container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 600px;
}
